/* RESET */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-image: linear-gradient(to right, #101329, #1e1733);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e5e5e7;
  opacity: 0.5;
  font-size: 1rem;
}

a,
i {
  transition: opacity 0.05s;
}

img {
  max-width: 100%;
  display: block;
}

/*** SIDENAV ***/

.sidenav {
  height: 100vh;
  width: 20%;
  background: #040517;
  padding: 80px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}

/* profile */

.profile {
  display: flex;
  flex: 1;
}

.profile-img {
  border-radius: 6px;
  width: 100px;
  position: relative;
  overflow-y: hidden;
}

.profile-img img {
  border-radius: 6px;
  position: absolute;
  top: -8px;
}

.profile-info {
  padding: 0px 10px 10px 10px;
}

.profile-info h3 {
  color: #e5e5e5e7;
}

.profile-info a {
  display: block;
  text-decoration: none;
  color: #e5e5e5e7;
  opacity: 0.5;
  margin-top: 8px;
  font-size: 0.875rem;
}

.profile-info a:hover {
  opacity: 1;
}

.profile-info i {
  margin-left: 10px;
}

/* menus */

.menu li a {
  font-size: 0.875rem;
}

.menu1,
.menu2 {
  max-width: 150px;
  margin: 0 auto;
}

.menu1::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #e5e5e5e7;
  position: relative;
  top: -10px;
  opacity: 0.2;
}

.menu1::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #e5e5e5e7;
  position: relative;
  top: 30px;
  opacity: 0.2;
}

.menu1 {
  margin-bottom: 60px;
}

.menu li {
  margin: 10px 5px;
}

.menu i {
  color: #e5e5e5e7;
  opacity: 0.5;
  margin-right: 10px;
}

.menu li:hover a,
.menu li:hover i {
  opacity: 1;
}

/*** MAIN ***/

main {
  padding: 10px 10px 10px 60px;
  width: 100%;
}

main h1 {
  color: #e5e5e5e7;
  font-size: 24px;
}

main input {
  display: block;
  background: none;
  border: none;
  width: 600px;
  font-size: 1rem;
  padding: 15px 5px;
}

/* playlists */

.playlists {
  display: flex;
  overflow-x: scroll;
  padding: 20px 15px;
  gap: 30px;
}

.playlist-container {
  padding: 20px 0px;
}

.playlist-item {
  flex-shrink: 0;
}

.playlist-img {
  max-width: 300px;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.playlist-img:hover {
  opacity: 1;
}

.playlist-img img {
  transition: transform 0.3s;
}

.playlist-img:hover img {
  transform: scale(1.2);
}

.playlist-item h1 {
  margin-top: 10px;
}

.playlist-item p {
  color: #e5e5e5e7;
  opacity: 0.5;
  font-size: 0.875rem;
  margin-top: 5px;
}

/* scrollbar */

/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* chrome, edge e safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: #200f56;
  border: none;
}

/* segunda parte do main */

main > div:nth-of-type(2) {
  display: flex;
}

.profile-views,
.tracks {
  flex: 1;
  margin-top: 10px;
}

.profile-views ul li {
  margin: 12px 0px;
  display: flex;
  gap: 15px;
}

.view-img {
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
}

.view-img img {
  max-width: 120px;
  position: relative;
  right: 30px;
}

.view-info {
  flex-basis: 200px;
}

.view-info h3 {
  font-size: 1.25rem;
  color: #e5e5e5e7;
  opacity: 0.5;
  font-weight: normal;
}

.view-info p {
  font-size: 0.875rem;
  margin-top: 5px;
  color: #e5e5e5e7;
  opacity: 0.2;
}

.profile-views ul li > p {
  color: #e5e5e5e7;
  opacity: 0.2;
  align-self: center;
}
